<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- This snippet copied from fonts.google.com -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Now Playing - Maui Choral Arts</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Maui Choral Arts</h1>

        <div class="player-container">
            <div class="now-playing">
                <p class="part" id="part-display">PART</p>
                <p class="song" id="song-display">SONG</p>
            </div>

            <audio id="audio-player" controls="" src="{{ music_prefix }}{{ song.music_path_name_for_part(voice_part)  }}">
                Your browser does not support the audio element.
            </audio>
        </div>

        <a href="{{ voice_part.file_name }}.html" id="back-link" class="btn btn-back">Back to Songs</a>
    </div>
</body>
</html>
