<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Maui Choral Arts Practice</title>

    <!-- This snippet copied from fonts.google.com -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Now Playing - Maui Choral Arts</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1 class="title">Maui Choral Arts</h1>

    <h2>{{ voice_part.pretty_name }}</h2>
    <h3>{{ song.pretty_name }}</h3>

    <audio id="audio-player" controls="" src="{{ music_prefix }}{{ song.music_path_name_for_part(voice_part)  }}">
      Your browser does not support the audio element.
    </audio>

    <fieldset class="row">
      <legend>Play Speed</legend>
      <label> <input type="radio" name="speed" value="75"> 75% </label>
      <label> <input type="radio" name="speed" value="90"> 90% </label>
      <label> <input type="radio" name="speed" value="100" checked="true"> 100% </label>
    </fieldset>

    <a href="{{ voice_part.file_name }}.html" id="back-link" class="choice">Back to Songs</a>

    <script>
      const audio = document.getElementById('audio-player');
      document.querySelectorAll('input[name="speed"]').forEach(
	  function(radio) {
              radio.addEventListener('change', function() {
		  const rate = Number(this.value) / 100;
		  audio.playbackRate = rate;
              });
	  }
      );
    </script>
  </body>
</html>
