<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ voice_part.pretty_name }}</title>

    <!-- This snippet copied from fonts.google.com -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1 class="title">{{ voice_part.pretty_name }}</h1>
    <p>Practice Recordings</p>

    {% for song in songs %}
    {% if song.html_file_name_for_part(voice_part) %}
    <a href="{{ song.html_file_name_for_part(voice_part) }}" class="choice">{{ song.pretty_name }}</a>
    {% else %}
    <p>Not available: {{ song.pretty_name }}</p>
    {% endif %}
    {% endfor %}

    <a href="index.html" class="choice">Back to Parts</a>
  </body>
</html>
